.fondoItem{
background-color:#ff111328;
height:130px;
border-radius:20px;
color:white;
}
i{
  font-size:40px;
  cursor:pointer;
}
.numero{
  font-size:32px;
  font-weight:800;
  margin-top:-30px;
}
.centimetro{
  font-size:16px;
  font-weight:400;
  margin-left:-10px;
}
.sexo-desactivo{
  background-color: #7D2F2F33;
}
.form-range{
  padding:0px 20px;
}
input::-webkit-slider-thumb {
  background-color: #FF3366;
}
.bi-dash, .bi-plus{
  cursor:pointer;
  background-color:#FF4C4F5E;
  padding:7px;
  border-radius:15px;
  margin-left:30px;
  font-size:17px;
}
