<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">BMI Calculador</h2>
    <div class="row">
      <div class="col lg-6">
        <div class="fondoItem" [ngClass]="{'sexo-desactivo':sexo === 'Masculino'}">
          <div class="contenedor" (click)="masculino()">
            <i class="bi bi-gender-male"></i>
          <p>Masculino</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem " [ngClass]="{'sexo-desactivo': sexo === 'Femenino'}">
          <div class="contenedor" (click)="femenino()">
            <i class="bi bi-gender-female"></i>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col lg-12">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Altura</p>
            <div class="numero">{{altura}}
              <span class="centimetro">cm</span>
            </div>
            <input type="range"
            [value]="altura"
             class="form-range"
             min="120"
             max="220"
             (input)="cambiarAltura($event)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Peso</p>
            <div class="numero">
              {{peso}}
            </div>
            <div>
              <i class="bi bi-dash" (click)="peso = peso - 1"></i>
              <i class="bi bi-plus" (click)="peso = peso + 1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Edad</p>
            <div class="numero">
              {{edad}}
            </div>
            <div>
              <i class="bi bi-dash" (click)="edad = edad - 1"></i>
              <i class="bi bi-plus" (click)="edad = edad + 1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col lg-12">
        <button (click)="calcularBmi()" class="btn btn-primary btn-lg btn-block btn-color">Calcular</button>
      </div>
    </div>
  </div>
</div>
